<div id = "welcome-container" >
  <div class="home">
    <h1>Welcome to Finance Tracker App</h1>
    <br>
    <p id="root_p1" class="lead">This website will help you to track stocks .</p>
    <p id="root_p2" >Feel free to start below .</p>
    <a id="home_button" class="btn btn-primary btn-lg" href="/users/sign_up" role="button">SignUp Here!</a>
  </div>
</div>
